        <nav class="menu">
            <ul>
                <a href="/">Página principal | </a>
                <a href="/pastor">Pastor Alemán | </a>
                <a href="/golden">Golden Retriever | </a>
                <a href="/pequines">Pequinés | </a>
            </ul>
        </nav>