<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Retriever</title>
    <link rel="stylesheet" href="./assets/css/estilos.css">
</head>
<body>

    {{> header }}


    <main>
            <div><section class="profile">
        <img src="./assets/imagenes/golden.jpg" alt="Perros" class="profile-photo">
    </section></div>
        <section class="informacion">
            <h2>Golden Retriever</h2>
            <p>El Golden Retriever es una raza de perro originaria del Reino Unido, reconocida por su carácter amistoso, inteligencia y naturaleza afectuosa. Son populares como mascotas familiares y también son utilizados en terapia, asistencia y trabajo de rescate gracias a su disposición amigable y su capacidad de entrenamiento.</p>
            
            <h3>Características</h3>
            <ul>
                <li><strong>Tamaño:</strong> Mediano a grande</li>
                <li><strong>Temperamento:</strong> Amistoso, inteligente, afectuoso</li>
                <li><strong>Esperanza de vida:</strong> 10-12 años</li>
                <li><strong>Colores:</strong> Dorado claro a oscuro</li>
            </ul>
            
            <h3>Cuidados</h3>
            <p>El Golden Retriever requiere ejercicio diario, ya que es una raza activa. Su pelaje largo necesita cepillado frecuente para evitar enredos y minimizar la caída de pelo. Son perros muy sociales, por lo que disfrutan de la compañía humana y otras mascotas.</p>
        </section>
    </main>


    {{> footer }}

</body>
</html>
