<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastor Alemán</title>
    <link rel="stylesheet" href="./assets/css/estilos.css">
</head>
<body>

    {{> header }}




    <main>
        <div class="profile-container">
    <section class="profile">
        <img src="./assets/imagenes/pastoraleman.webp" alt="Perros" class="profile-photo">
    </section></div>
        <section class="informacion">
            <h2>Pastor Alemán</h2>
            <p>El Pastor Alemán es una raza de perro originaria de Alemania, conocida por su inteligencia, lealtad y versatilidad. Criados originalmente para pastorear ovejas, hoy en día son populares como perros de trabajo en diversas áreas, incluyendo la policía, el ejército, y la búsqueda y rescate. Son compañeros leales y protectores, con una energía alta y necesidad de ejercicio y estimulación mental.</p>
            
            <h3>Características</h3>
            <ul>
                <li><strong>Tamaño:</strong> Grande</li>
                <li><strong>Temperamento:</strong> Inteligente, leal, enérgico</li>
                <li><strong>Esperanza de vida:</strong> 9-13 años</li>
                <li><strong>Colores:</strong> Negro, negro y fuego, sable</li>
            </ul>
            
            <h3>Cuidados</h3>
            <p>El Pastor Alemán necesita una rutina diaria de ejercicio intenso y entrenamiento. Son perros muy inteligentes, por lo que requieren estimulación mental constante para evitar comportamientos destructivos. El pelaje debe cepillarse con regularidad, especialmente en épocas de muda.</p>
        </section>
    </main>


    {{> footer }}

</body>
</html>
