<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pequinés</title>
    <link rel="stylesheet" href="./assets/css/estilos.css">
</head>
<body>

    {{> header }}


    <main>
<div> <section class="profile">
        <img src="./assets/imagenes/pequines.jpg" alt="Perros" class="profile-photo">
    </section></div>
        <section class="informacion">
            <h2>Pequinés</h2>
            <p>El Pequinés es una raza de perro pequeña originaria de China, conocida por su porte noble, valentía y carácter independiente. Fue criado para ser un perro de compañía en la antigua realeza china y aún conserva un aire de dignidad y lealtad hacia su familia.</p>
            
            <h3>Características</h3>
            <ul>
                <li><strong>Tamaño:</strong> Pequeño</li>
                <li><strong>Temperamento:</strong> Independiente, leal, valiente</li>
                <li><strong>Esperanza de vida:</strong> 12-15 años</li>
                <li><strong>Colores:</strong> Variados, incluyendo dorado, negro, blanco y más</li>
            </ul>
            
            <h3>Cuidados</h3>
            <p>El Pequinés necesita cuidados especiales en su pelaje, ya que es largo y denso. Requiere cepillado frecuente y revisiones para evitar problemas oculares y respiratorios comunes en razas de cara plana. Aunque no es tan activo como otras razas, disfruta de paseos tranquilos.</p>
        </section>
    </main>


    {{> footer }}

</body>
</html>
